$bg-dark-958: #0e1013;
$bg-dark-928: #17181b;
$bg-dark-900: #202124;
$bg-dark-868: #282a2d;
$bg-dark-846: #282a2d;
$bg-dark-800: #3c4043;
$bg-dark-700: #5f6368;

$color-light-50: #f8f9fa;
$color-warning: #F96767;
